.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px; /* Adjust padding as needed */
}

.logo {
  flex: 1;
  display: flex;
  justify-content: center;
}

.main-div {
  margin: 10px 20%;
}

.content-agc {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-bottom: 10px;
}

.grey {
  color: #a9a9a9;
}

.custom-datepicker {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 6px 6px;
  font-size: 14px;
  width: 150px;
  outline: none;
}

.custom-datepicker:hover,
.custom-datepicker:focus {
  border-color: #40a9ff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

#components-collapse-demo-collapsible .ant-space {
  width: 100%;
}
