.main-div {
  margin: 10px 20%;
}

.content-agc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20%;
  margin-bottom: 10px;
}

.grey {
  color: #a9a9a9;
}

.custom-datepicker {
  appearance: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 6px 6px;
  font-size: 14px;
  width: 150px;
  outline: none;
}

.name-input {
  width: 200px;
}

.custom-datepicker:hover,
.custom-datepicker:focus {
  border-color: #40a9ff;
}

@media (max-width: 768px) {
  .main-div {
    margin: 10px 1%;
  } 
  .content-agc {
    margin-right: 0px;
  }
  .name-input {
    width: 100px;
  }
}